@tailwind components;
@tailwind utilities;

@layer components {
    .all-\[unset\] {
        all: unset;
    }
}

:root {
    --base-color-light-base-color-black: rgba(31, 35, 40, 1);
    --base-size-base-size-4: 4px;
    --body-small-bold-font-family: "SFPro Text-Semibold", Helvetica;
    --body-small-bold-font-size: 12px;
    --body-small-bold-font-style: normal;
    --body-small-bold-font-weight: 400;
    --body-small-bold-letter-spacing: 0px;
    --body-small-bold-line-height: 166.6599988937378%;
    --dark: rgba(51, 51, 51, 1);
    --destructive: rgba(220, 53, 69, 1);
    --destructive-default: var(--variable-collection-destructive);
    --focus-padding: ;
    --functional-size-borderradius-full: 9999px;
    --functional-size-space-xsmall: var(--base-size-base-size-4);
    --light: rgba(246, 248, 250, 1);
    --mode-bgcolor-neutral-muted: rgba(175, 184, 193, 0.2);
    --mode-fgcolor-default: var(--base-color-light-base-color-black);
    --primary: rgba(11, 107, 203, 1);
    --success: rgba(25, 135, 84, 1);
    --success-default: var(--variable-collection-success);
    --tailwindamber-100: rgba(254, 243, 199, 1);
    --tailwindamber-200: rgba(253, 230, 138, 1);
    --tailwindamber-300: rgba(252, 211, 77, 1);
    --tailwindamber-400: rgba(251, 191, 36, 1);
    --tailwindamber-50: rgba(255, 251, 235, 1);
    --tailwindamber-500: rgba(245, 158, 11, 1);
    --tailwindamber-600: rgba(217, 119, 6, 1);
    --tailwindamber-700: rgba(180, 83, 9, 1);
    --tailwindamber-800: rgba(146, 64, 14, 1);
    --tailwindamber-900: rgba(120, 53, 15, 1);
    --tailwindamber-950: rgba(69, 26, 3, 1);
    --tailwindblack: rgba(0, 0, 0, 1);
    --tailwindblue-100: rgba(219, 234, 254, 1);
    --tailwindblue-200: rgba(191, 219, 254, 1);
    --tailwindblue-300: rgba(147, 197, 253, 1);
    --tailwindblue-400: rgba(96, 165, 250, 1);
    --tailwindblue-50: rgba(239, 246, 255, 1);
    --tailwindblue-500: rgba(59, 130, 246, 1);
    --tailwindblue-600: rgba(37, 99, 235, 1);
    --tailwindblue-700: rgba(29, 78, 216, 1);
    --tailwindblue-800: rgba(30, 64, 175, 1);
    --tailwindblue-900: rgba(30, 58, 138, 1);
    --tailwindblue-950: rgba(23, 37, 84, 1);
    --tailwindcyan-100: rgba(207, 250, 254, 1);
    --tailwindcyan-200: rgba(165, 243, 252, 1);
    --tailwindcyan-300: rgba(103, 232, 249, 1);
    --tailwindcyan-400: rgba(34, 211, 238, 1);
    --tailwindcyan-50: rgba(236, 254, 255, 1);
    --tailwindcyan-500: rgba(6, 182, 212, 1);
    --tailwindcyan-600: rgba(8, 145, 178, 1);
    --tailwindcyan-700: rgba(14, 116, 144, 1);
    --tailwindcyan-800: rgba(21, 94, 117, 1);
    --tailwindcyan-900: rgba(22, 78, 99, 1);
    --tailwindcyan-950: rgba(8, 51, 68, 1);
    --tailwindemerald-100: rgba(209, 250, 229, 1);
    --tailwindemerald-200: rgba(167, 243, 208, 1);
    --tailwindemerald-300: rgba(110, 231, 183, 1);
    --tailwindemerald-400: rgba(52, 211, 153, 1);
    --tailwindemerald-50: rgba(236, 253, 245, 1);
    --tailwindemerald-500: rgba(16, 185, 129, 1);
    --tailwindemerald-600: rgba(5, 150, 105, 1);
    --tailwindemerald-700: rgba(4, 120, 87, 1);
    --tailwindemerald-800: rgba(6, 95, 70, 1);
    --tailwindemerald-900: rgba(6, 78, 59, 1);
    --tailwindemerald-950: rgba(2, 44, 34, 1);
    --tailwindfuchsia-100: rgba(250, 232, 255, 1);
    --tailwindfuchsia-200: rgba(245, 208, 254, 1);
    --tailwindfuchsia-300: rgba(240, 171, 252, 1);
    --tailwindfuchsia-400: rgba(232, 121, 249, 1);
    --tailwindfuchsia-50: rgba(253, 244, 255, 1);
    --tailwindfuchsia-500: rgba(217, 70, 239, 1);
    --tailwindfuchsia-600: rgba(192, 38, 211, 1);
    --tailwindfuchsia-700: rgba(162, 28, 175, 1);
    --tailwindfuchsia-800: rgba(134, 25, 143, 1);
    --tailwindfuchsia-900: rgba(112, 26, 117, 1);
    --tailwindfuchsia-950: rgba(74, 4, 78, 1);
    --tailwindgray-100: rgba(243, 244, 246, 1);
    --tailwindgray-200: rgba(229, 231, 235, 1);
    --tailwindgray-300: rgba(209, 213, 219, 1);
    --tailwindgray-400: rgba(156, 163, 175, 1);
    --tailwindgray-50: rgba(249, 250, 251, 1);
    --tailwindgray-500: rgba(107, 114, 128, 1);
    --tailwindgray-600: rgba(75, 85, 99, 1);
    --tailwindgray-700: rgba(55, 65, 81, 1);
    --tailwindgray-800: rgba(31, 41, 55, 1);
    --tailwindgray-900: rgba(17, 24, 39, 1);
    --tailwindgray-950: rgba(3, 7, 18, 1);
    --tailwindgreen-100: rgba(220, 252, 231, 1);
    --tailwindgreen-200: rgba(187, 247, 208, 1);
    --tailwindgreen-300: rgba(134, 239, 172, 1);
    --tailwindgreen-400: rgba(74, 222, 128, 1);
    --tailwindgreen-50: rgba(240, 253, 244, 1);
    --tailwindgreen-500: rgba(34, 197, 94, 1);
    --tailwindgreen-600: rgba(22, 163, 74, 1);
    --tailwindgreen-700: rgba(21, 128, 61, 1);
    --tailwindgreen-800: rgba(22, 101, 52, 1);
    --tailwindgreen-900: rgba(20, 83, 45, 1);
    --tailwindgreen-950: rgba(5, 46, 22, 1);
    --tailwindindigo-100: rgba(224, 231, 255, 1);
    --tailwindindigo-200: rgba(199, 210, 254, 1);
    --tailwindindigo-300: rgba(165, 180, 252, 1);
    --tailwindindigo-400: rgba(129, 140, 248, 1);
    --tailwindindigo-50: rgba(238, 242, 255, 1);
    --tailwindindigo-500: rgba(99, 102, 241, 1);
    --tailwindindigo-600: rgba(79, 70, 229, 1);
    --tailwindindigo-700: rgba(67, 56, 202, 1);
    --tailwindindigo-800: rgba(55, 48, 163, 1);
    --tailwindindigo-900: rgba(49, 46, 129, 1);
    --tailwindindigo-950: rgba(30, 27, 75, 1);
    --tailwindlime-100: rgba(236, 252, 203, 1);
    --tailwindlime-200: rgba(217, 249, 157, 1);
    --tailwindlime-300: rgba(190, 242, 100, 1);
    --tailwindlime-400: rgba(163, 230, 53, 1);
    --tailwindlime-50: rgba(247, 254, 231, 1);
    --tailwindlime-500: rgba(132, 204, 22, 1);
    --tailwindlime-600: rgba(101, 163, 13, 1);
    --tailwindlime-700: rgba(77, 124, 15, 1);
    --tailwindlime-800: rgba(63, 98, 18, 1);
    --tailwindlime-900: rgba(54, 83, 20, 1);
    --tailwindlime-950: rgba(26, 46, 5, 1);
    --tailwindneutral-100: rgba(245, 245, 245, 1);
    --tailwindneutral-200: rgba(229, 229, 229, 1);
    --tailwindneutral-300: rgba(212, 212, 212, 1);
    --tailwindneutral-400: rgba(163, 163, 163, 1);
    --tailwindneutral-50: rgba(250, 250, 250, 1);
    --tailwindneutral-500: rgba(115, 115, 115, 1);
    --tailwindneutral-600: rgba(82, 82, 82, 1);
    --tailwindneutral-700: rgba(64, 64, 64, 1);
    --tailwindneutral-800: rgba(38, 38, 38, 1);
    --tailwindneutral-900: rgba(23, 23, 23, 1);
    --tailwindneutral-950: rgba(10, 10, 10, 1);
    --tailwindorange-100: rgba(255, 237, 213, 1);
    --tailwindorange-200: rgba(254, 215, 170, 1);
    --tailwindorange-300: rgba(253, 186, 116, 1);
    --tailwindorange-400: rgba(251, 146, 60, 1);
    --tailwindorange-50: rgba(255, 247, 237, 1);
    --tailwindorange-500: rgba(249, 115, 22, 1);
    --tailwindorange-600: rgba(234, 88, 12, 1);
    --tailwindorange-700: rgba(194, 65, 12, 1);
    --tailwindorange-800: rgba(154, 52, 18, 1);
    --tailwindorange-900: rgba(124, 45, 18, 1);
    --tailwindorange-950: rgba(67, 20, 7, 1);
    --tailwindpink-100: rgba(252, 231, 243, 1);
    --tailwindpink-200: rgba(251, 207, 232, 1);
    --tailwindpink-300: rgba(249, 168, 212, 1);
    --tailwindpink-400: rgba(244, 114, 182, 1);
    --tailwindpink-50: rgba(253, 242, 248, 1);
    --tailwindpink-500: rgba(236, 72, 153, 1);
    --tailwindpink-600: rgba(219, 39, 119, 1);
    --tailwindpink-700: rgba(190, 24, 93, 1);
    --tailwindpink-800: rgba(157, 23, 77, 1);
    --tailwindpink-900: rgba(131, 24, 67, 1);
    --tailwindpink-950: rgba(80, 7, 36, 1);
    --tailwindpurple-100: rgba(243, 232, 255, 1);
    --tailwindpurple-200: rgba(233, 213, 255, 1);
    --tailwindpurple-300: rgba(216, 180, 254, 1);
    --tailwindpurple-400: rgba(192, 132, 252, 1);
    --tailwindpurple-50: rgba(250, 245, 255, 1);
    --tailwindpurple-500: rgba(168, 85, 247, 1);
    --tailwindpurple-600: rgba(147, 51, 234, 1);
    --tailwindpurple-700: rgba(126, 34, 206, 1);
    --tailwindpurple-800: rgba(107, 33, 168, 1);
    --tailwindpurple-900: rgba(88, 28, 135, 1);
    --tailwindpurple-950: rgba(59, 7, 100, 1);
    --tailwindred-100: rgba(254, 226, 226, 1);
    --tailwindred-200: rgba(254, 202, 202, 1);
    --tailwindred-300: rgba(252, 165, 165, 1);
    --tailwindred-400: rgba(248, 113, 113, 1);
    --tailwindred-50: rgba(254, 242, 242, 1);
    --tailwindred-500: rgba(239, 68, 68, 1);
    --tailwindred-600: rgba(220, 38, 38, 1);
    --tailwindred-700: rgba(185, 28, 28, 1);
    --tailwindred-800: rgba(153, 27, 27, 1);
    --tailwindred-900: rgba(127, 29, 29, 1);
    --tailwindred-950: rgba(69, 10, 10, 1);
    --tailwindrose-100: rgba(255, 228, 230, 1);
    --tailwindrose-200: rgba(254, 205, 211, 1);
    --tailwindrose-300: rgba(253, 164, 175, 1);
    --tailwindrose-400: rgba(251, 113, 133, 1);
    --tailwindrose-50: rgba(255, 241, 242, 1);
    --tailwindrose-500: rgba(244, 63, 94, 1);
    --tailwindrose-600: rgba(225, 29, 72, 1);
    --tailwindrose-700: rgba(190, 18, 60, 1);
    --tailwindrose-800: rgba(159, 18, 57, 1);
    --tailwindrose-900: rgba(136, 19, 55, 1);
    --tailwindrose-950: rgba(76, 5, 25, 1);
    --tailwindsky-100: rgba(224, 242, 254, 1);
    --tailwindsky-200: rgba(186, 230, 253, 1);
    --tailwindsky-300: rgba(125, 211, 252, 1);
    --tailwindsky-400: rgba(56, 189, 248, 1);
    --tailwindsky-50: rgba(240, 249, 255, 1);
    --tailwindsky-500: rgba(14, 165, 233, 1);
    --tailwindsky-600: rgba(2, 132, 199, 1);
    --tailwindsky-700: rgba(3, 105, 161, 1);
    --tailwindsky-800: rgba(7, 89, 133, 1);
    --tailwindsky-900: rgba(12, 74, 110, 1);
    --tailwindsky-950: rgba(8, 47, 73, 1);
    --tailwindslate-100: rgba(241, 245, 249, 1);
    --tailwindslate-200: rgba(226, 232, 240, 1);
    --tailwindslate-300: rgba(203, 213, 225, 1);
    --tailwindslate-400: rgba(148, 163, 184, 1);
    --tailwindslate-50: rgba(248, 250, 252, 1);
    --tailwindslate-500: rgba(100, 116, 139, 1);
    --tailwindslate-600: rgba(71, 85, 105, 1);
    --tailwindslate-700: rgba(51, 65, 85, 1);
    --tailwindslate-800: rgba(30, 41, 59, 1);
    --tailwindslate-900: rgba(15, 23, 42, 1);
    --tailwindslate-950: rgba(2, 6, 23, 1);
    --tailwindstone-100: rgba(245, 245, 244, 1);
    --tailwindstone-200: rgba(231, 229, 228, 1);
    --tailwindstone-300: rgba(214, 211, 209, 1);
    --tailwindstone-400: rgba(168, 162, 158, 1);
    --tailwindstone-50: rgba(250, 250, 249, 1);
    --tailwindstone-500: rgba(120, 113, 108, 1);
    --tailwindstone-600: rgba(87, 83, 78, 1);
    --tailwindstone-700: rgba(68, 64, 60, 1);
    --tailwindstone-800: rgba(41, 37, 36, 1);
    --tailwindstone-900: rgba(28, 25, 23, 1);
    --tailwindstone-950: rgba(12, 10, 9, 1);
    --tailwindteal-100: rgba(204, 251, 241, 1);
    --tailwindteal-200: rgba(153, 246, 228, 1);
    --tailwindteal-300: rgba(94, 234, 212, 1);
    --tailwindteal-400: rgba(45, 212, 191, 1);
    --tailwindteal-50: rgba(240, 253, 250, 1);
    --tailwindteal-500: rgba(20, 184, 166, 1);
    --tailwindteal-600: rgba(13, 148, 136, 1);
    --tailwindteal-700: rgba(15, 118, 110, 1);
    --tailwindteal-800: rgba(17, 94, 89, 1);
    --tailwindteal-900: rgba(19, 78, 74, 1);
    --tailwindteal-950: rgba(4, 47, 46, 1);
    --tailwindviolet-100: rgba(237, 233, 254, 1);
    --tailwindviolet-200: rgba(221, 214, 254, 1);
    --tailwindviolet-300: rgba(196, 181, 253, 1);
    --tailwindviolet-400: rgba(167, 139, 250, 1);
    --tailwindviolet-50: rgba(245, 243, 255, 1);
    --tailwindviolet-500: rgba(139, 92, 246, 1);
    --tailwindviolet-600: rgba(124, 58, 237, 1);
    --tailwindviolet-700: rgba(109, 40, 217, 1);
    --tailwindviolet-800: rgba(91, 33, 182, 1);
    --tailwindviolet-900: rgba(76, 29, 149, 1);
    --tailwindviolet-950: rgba(46, 16, 101, 1);
    --tailwindwhite: rgba(255, 255, 255, 1);
    --tailwindyellow-100: rgba(254, 249, 195, 1);
    --tailwindyellow-200: rgba(254, 240, 138, 1);
    --tailwindyellow-300: rgba(253, 224, 71, 1);
    --tailwindyellow-400: rgba(250, 204, 21, 1);
    --tailwindyellow-50: rgba(254, 252, 232, 1);
    --tailwindyellow-500: rgba(234, 179, 8, 1);
    --tailwindyellow-600: rgba(202, 138, 4, 1);
    --tailwindyellow-700: rgba(161, 98, 7, 1);
    --tailwindyellow-800: rgba(133, 77, 14, 1);
    --tailwindyellow-900: rgba(113, 63, 18, 1);
    --tailwindyellow-950: rgba(66, 32, 6, 1);
    --tailwindzinc-100: rgba(244, 244, 245, 1);
    --tailwindzinc-200: rgba(228, 228, 231, 1);
    --tailwindzinc-300: rgba(212, 212, 216, 1);
    --tailwindzinc-400: rgba(161, 161, 170, 1);
    --tailwindzinc-50: rgba(250, 250, 250, 1);
    --tailwindzinc-500: rgba(113, 113, 122, 1);
    --tailwindzinc-600: rgba(82, 82, 91, 1);
    --tailwindzinc-700: rgba(63, 63, 70, 1);
    --tailwindzinc-800: rgba(39, 39, 42, 1);
    --tailwindzinc-900: rgba(24, 24, 27, 1);
    --tailwindzinc-950: rgba(9, 9, 11, 1);
    --text-base-font-family: "Inter-SemiBold", Helvetica;
    --text-base-font-size: 14px;
    --text-base-font-style: normal;
    --text-base-font-weight: 600;
    --text-base-letter-spacing: -0.15000000596046448px;
    --text-base-line-height: 20px;
    --text-small-font-family: "Inter-SemiBold", Helvetica;
    --text-small-font-size: 12px;
    --text-small-font-style: normal;
    --text-small-font-weight: 600;
    --text-small-letter-spacing: -0.15000000596046448px;
    --text-small-line-height: 20px;
    --variable-collection-black: rgba(0, 0, 0, 1);
    --variable-collection-dark: rgba(51, 51, 51, 1);
    --variable-collection-destructive: rgba(220, 53, 69, 1);
    --variable-collection-light: rgba(246, 248, 250, 1);
    --variable-collection-strokes: rgba(31, 35, 40, 0.15);
    --variable-collection-success: rgba(25, 135, 84, 1);
    --variable-collection-WFMS-MAIN: rgba(0, 79, 123, 1);
}

/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-mode-mode="light">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

[data-mode-mode="light"] {
    --mode-bgcolor-neutral-muted: rgba(175, 184, 193, 0.2);
    --mode-fgcolor-default: var(--base-color-light-base-color-black);
}

[data-mode-mode="dark"] {
    --mode-bgcolor-neutral-muted: rgba(110, 118, 129, 0.4);
    --mode-fgcolor-default: rgba(230, 237, 243, 1);
}